.hamburger-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424242;
  width: 90px;
  height: 300px;
}

.hamburger-menu.toggle{
  width: 200px;
  align-items: flex-start;
}

.hamburger{
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  border: none;
  background-color: #424242;
}

.hamburger:focus{
  outline: none;
}

.burger{
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 0.25rem;
  transform: translateX(-1px)translateY(2px);
  border-radius: 10px;
  background-color: #242424;
  transition:all 0.3s linear;
}
  


.menu-image-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  transform: translateY(3px);
}

.menu-image{
  width: 80px;
  height: 60px;
  border: #000000 solid 1px, ;
}

.menu-item{
  display: flex;
}

.menu-text {
  visibility: hidden;
}

.menu-text.toggle{
  visibility: visible;
  font-size: 20px;
  color: white;
}

.animated-div  {
  position: absolute;
  border: #000000 solid 1px;
  background-color: #424242;
  left: 100%;
}

